.card {
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 40px rgb(117, 117, 117,0.25));    border-radius: 12px;
    border-top: 12px solid #10099f;
    margin:auto
}

.card p {
    margin-top: 2em;
}
.card a {
    font-weight:600;
    font-size: 18px;
    
}
.inner_card {
    padding: 0em 2em 2em 2em;
    width: 100%;
}
.transparent_button {
    padding: 2em 3em 1em 3em ;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}
.float_right{
    display: flex;
    justify-content: right;
}
.button_delete {
    color: #FF7272;
    font-weight: 400;
    font-size: 18px;
    padding: 1em 3em 1em 3em !important;
}
